body {
    background: #E00049;
}

body, h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
    color: #E00049;
}

header, footer {
    max-width: 700px;
    margin: auto;
    padding: 24px 48px;
}

#top-panel {
    background: #F7F7EE;
    color: #3D1414;
    padding: 24px 0 80px;
}

#bottom-panel {
    background: #DB8C92;
    color: #FEF9FA;
}

#main {
    background: #FFFFFF;
    max-width: 700px;
    margin: 0 auto;
    padding: 24px 48px;
    border: 1px solid #E1E1DB;
}

#top-panel input, #top-panel button {
    font-size: 24px;
    width: 100%;
    padding: 8px 16px;
}

#top-panel input {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #CACAC2;
    margin-bottom: 16px;
}

#top-panel input:focus {
    border-color: #E00049;
}

#top-panel button {
    background-color: #E00049;
    color: #fff;
    border: 1px solid #DB8C92;
    border-radius: 4px;
}

#result {
    margin-bottom: 48px;
}

div.flash-error {
    border: 1px solid #cc0000;
    color: #cc0000;
    padding: 8px 16px;
    margin: 16px 0;
    background-color: #ffaaaa;
}

#result p, #form label {
    display: inline-block;
    font-size: 1.3em;
    padding: 0 8px 8px;
}

@media screen and (max-width: 550px) {
    #top-panel input {
        border-width: 1px;
    }
}
